include ../global/_space

mixin meta-desc(contentOfDescription)
  meta(name="description" content=contentOfDescription)
  +space()

mixin meta-words(words)
  meta(name="keywords", content=words)
  +space()

mixin meta-theme(color)
  meta(name="theme-color" content=color)
  +space()
